---
export interface Props {
  currentPath?: string;
}

const { currentPath } = Astro.props as Props;

// Function to generate breadcrumbs based on the current path
const bakeBreadcrumbs = (path: string) => {
  // Split the path into segments and filter out "/" segments
  const segments = path.split("/").filter((segment) => segment.trim() !== "");
  const breadcrumbs = segments.map((segment, index) => {
    const target = "/" + segments.slice(0, index + 1).join("/");
    return {
      // Deslugify the segment for display
      segment: segment
        .replace(/-/g, " ")
        .replace(/\b\w/g, (match) => match.toUpperCase()),
      target,
    };
  });
  // Prepone the "Home" breadcrumb
  return [{ segment: "Home", target: "/" }, ...breadcrumbs];
};

// Beware, `currentPath` is undefined at the root
const breadcrumbs =
  currentPath === undefined ? [] : bakeBreadcrumbs(currentPath);
---

{
  breadcrumbs.length === 0 ? null : (
    <nav class="breadcrumbs text-sm" aria-label="Breadcrumbs">
      <ul itemscope itemtype="https://schema.org/BreadcrumbList">
        {breadcrumbs.map((crumb, index) => (
          <li
            itemprop="itemListElement"
            itemscope
            itemtype="https://schema.org/ListItem"
          >
            <a
              itemscope
              itemtype="https://schema.org/WebPage"
              itemprop="item"
              itemid={crumb.target}
              href={crumb.target}
              class="link link-hover"
              aria-label={`Go to ${crumb.segment}`}
            >
              <span itemprop="name">{crumb.segment}</span>
              <meta itemprop="position" content={(index + 1).toString()} />
            </a>
          </li>
        ))}
      </ul>
    </nav>
  )
}
