<div class="navbar bg-base-100">
  <div class="navbar-start">
    <a class="btn btn-ghost text-xl" href="/">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xml:space="preserve"
        version="1.1"
        style="shape-rendering:geometricPrecision; image-rendering:optimizeQuality"
        width="64px"
        height="64px"
        style=":hover: fill: red;"
        viewBox="0 0 5400 5400"
      >
        <g
          id="Canvas"
          style="background: rgb(0,0,0) transparent;"
          transform="translate(900,1500)"
        >
          <g id="Background">
            <circle style="fill:#ffffff" cx="1800" cy="1200" r="2700"></circle>
          </g>
          <g id="Logo">
            <polygon style="fill:#104378" points="2432,341 3268,762 3708,0 "
            ></polygon>
            <polygon style="fill:#145593" points="1994,1099 2432,341 3268,762 "
            ></polygon>
            <polygon style="fill:#165EA0" points="1431,610 1854,1342 2432,341 "
            ></polygon>
            <polygon style="fill:#104378" points="0,0 1244,333 345,598 "
            ></polygon>
            <polygon
              style="fill:#6DB7F2"
              points="1854,1974 1854,3211 1217,2108 "></polygon>
            <polygon
              style="fill:#2491EB"
              points="1854,1974 1854,3211 2651,1830 "></polygon>
            <polygon style="fill:#165EA0" points="3268,762 2425,985 2651,1830 "
            ></polygon>
            <polygon style="fill:#165EA0" points="2425,985 2651,1830 1854,1974 "
            ></polygon>
            <polygon style="fill:#145593" points="345,598 956,418 729,1263 "
            ></polygon>
            <polygon style="fill:#165EA0" points="956,418 729,1263 1443,1263 "
            ></polygon>
            <polygon style="fill:#165EA0" points="729,1263 1443,1263 1217,2108 "
            ></polygon>
            <polygon
              style="fill:#2491EB"
              points="1443,1263 1217,2108 1854,1974 "></polygon>
          </g>
        </g>
      </svg>
      Grendel Consulting</a
    >
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a class="link" href="/services">Our Services</a></li>
      <li><a class="link" href="/ways-of-working">Ways of Working</a></li>
      <li><a class="link" href="/experiments">Experiments</a></li>
    </ul>
  </div>
  <div class="navbar-end lg:hidden">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg
          class="w-5 h-5"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/services">Our Services</a></li>
        <li><a href="/ways-of-working">Ways of Working</a></li>
        <li><a href="/experiments">Experiments</a></li>
      </ul>
    </div>
  </div>
</div>
